services:
  fxserver:
    build: .
    ports:
      - 30120:30120/tcp
      - 30120:30120/udp
    networks:
      - mongo
      - redis
    restart: on-failure

  mongo:
    image: mongo:8
    ports:
      - 127.0.0.1:27017:27017
    networks:
      - mongo
    volumes:
      - mongo:/data/db
    restart: on-failure

  redis:
    image: redis:7
    ports:
      - 127.0.0.1:6379:6379
    networks:
      - redis
    volumes:
      - redis:/data
    restart: on-failure

networks:
  mongo: null
  redis: null

volumes:
  mongo: null
  redis: null